[submodule "lib/git/wand"]
	path = lib/git/wand
	url = git://github.com/ewiger/wand.git
[submodule "lib/git/sh"]
	path = lib/git/sh
	url = git://github.com/amoffat/sh.git
[submodule "lib/git/pipette"]
	path = lib/git/pipette
	url = https://github.com/ewiger/pipette.git
