h1, h2, h3, h4, h5 { margin: 0px; }

body {
	font-family: arial;
	font-size: 90%; 
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

img {
	border: none;
	vertical-align: bottom;
}

img.statusIcon {
	margin-left: 5px;
}

h2 { 
	margin: 0px; 
}

.ibrain_meta { 
	font-size: 70%; 
	color: #000000; 
}

tr.statusInfo td {
	font-size: 11px;
	color: #888888;
}

span.warningInfo { 
	color: #000000; 
	font-weight: bold;
}

tr#projectHeader {
	background-color: #4D6680; 
	color: white;
}

tr#columnTitle {
	background: url(../../logs/img/header_bg_lightblue3.gif) top left repeat-x; 
	height: 19px;
} 

tr#projectHeader td { 
	padding-left: 10px;
	padding-right: 10px;
	font-size: 11px;
}

tr#projectHeader a { 
	color: white;
	text-decoration: underline;
}


.navTable td {
	padding-right: 4px;
	padding-left: 4px;
	border-right: 1px #D7D8DA solid;
	font-size: 12px; 
	border-bottom: 1px #EEEEFF solid;
}

div#header {
	text-align: center;
	vertical-align: middle;
	background-color: #FFFFFF;
	border-bottom: 1px #666666 solid;
	height: 60px;
	margin: 0px;
	padding: 1px;
}
div#column2 {
	margin: 0;
	padding: 0;
	/* background-image: url(side2.gif);
	background-position: right;
	background-repeat: repeat-y; */
	width: 100%;
	/* background-color: #FFFF99; */
	
}
div#column1 {
	margin: 0px;
	padding: 0px;
	/* background-image: url(side1.gif);
	background-repeat: repeat-y; */
	width: 100%;
}

div#navcol {
	padding: 0px;
	padding-left: 0px;	
	width: 400px;
	float: left;
}

div#main {
	padding: 0px;
	margin-left: 400px;
	/* margin-right: 160px; */
	background-color: #FFFFFF;
	height: 100%;
	border-left: 1px #000000 solid;
}
div#sidecol {
	padding: 10px;
	width: 130px;
	float: right;
}
div#foot {
	border-top: solid #000 1px;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	clear: both;
}
.clear {
	clear: both;
	display: block;
	height: 1px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

div#navcol tr.oddRow td {
	background-color: #EDF3FF;
/*	border-bottom: 1px #BEC2CC solid; */
}

div#navcol tr.evenRow td {
	background-color: #ffffff;
/*	border-bottom: 1px #BEC2CC solid; */
}

div#navcol tr.oddRow_over td {
	background-color: #69f;
	color: white;
/*	border-bottom: 1px #BEC2CC solid; */
}

div#navcol tr.evenRow_over td {
	background-color: #69f;
	color: white;
/*	border-bottom: 1px #BEC2CC solid; */
}

div#main tr.oddRow td {
	background-color: #EDF3FF;
	border-bottom: 1px #D5DBE5 solid;
}

div#main tr.evenRow td {
	background-color: #ffffff;
	border-bottom: 1px #D5DBE5 solid;
}

div#main tr.oddRow_over td {
	background-color: #69f;
	color: white;
	border-bottom: 1px #D5DBE5 solid;
}

div#main tr.evenRow_over td {
	background-color: #69f;
	color: white;
	border-bottom: 1px #D5DBE5 solid;
}

div tr#columnHeaders td { 
	border-bottom: 1px #D5DBE5 solid;
}